* {
  margin: 0;
  padding: 0;
}
#sketch {
  margin-inline: auto;
  width: 80vw;
  height: 80vh;
}
#addBall {
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  width: 80vw;
  height: auto;
  text-align: right;
  position: absolute;
  top: 0.3vh;
  /* padding: 8px; */
}
